# Database
POSTGRES_DB=lombrierp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=lombri2024secure
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Backend Spring Boot
SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/lombrierp
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=lombri2024secure
JWT_SECRET=lombrierp-secret-key-change-in-production-2024
SPRING_PROFILES_ACTIVE=prod

# Frontend
VITE_API_URL=http://localhost:8080/api/v1
